*{
	margin-top: 20px;	
}
body{
	background-image: url('assets/background-image1.png');
	background-size: cover;
	background-repeat: no-repeat;

}
#image{
    margin-top: 20px;
    margin-left: 25cm;
}
#image1{
	
	padding: 5px;
  	height: 600px;
 	width: 930px;
}
#heading{
	font-weight: bold;
	font-size: 3rem;
	font-style: normal;
	text-shadow: rgb(146, 140, 140);
	margin-bottom: 1pt;
	margin-left: 0.5cm;
	
}
#heading1{
	margin-top: 1pt;
	margin-left: 0.5cm;
	font-style: normal;
	font-size: 1.5rem;
	color: rgb(150, 146, 146);
}
table{
	background-color: white;
	border-bottom: 2px solid grey;
	width: 22cm;	
}
th{
	padding: 10px;
	background-color: rgb(238, 88, 34);
}
td{
	padding: 10px;
	border-bottom: 2px solid grey;
}
a{
	text-decoration: none;
}
#row1{
	text-align: left;
}
#default{
	height: 18px;
	width: 18px;
}

.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;   
}